.DS_Store
cmake_install.cmake
Makefile
CMakeFiles/*
CMakeFiles/
CMakeCache.txt
*.a	
test/TrivialTest
extlibs/tinyxml/libTinyXML.a
src/libTrivialEngine.a
obj/
bin/
*.cbp
*.depend
*.layout
extlibs/tinyxml/Makefile
Breakout/BreakOut
*.dll
extlibs/tinyxml/Makefile
gmon.out
#data
docs/html/

Asteroid/Asteroid

extlibs/tinyxml/Makefile

extlibs/tinyxml/Makefile
