.DS_Store
cmake_install.cmake
Makefile
CMakeFiles/*
CMakeFiles/
CMakeCache.txt
*.a	
test/TrivialTest
extlibs/tinyxml/libTinyXML.a
extlib/tinyxml/Makefile
src/libTrivialEngine.a
obj/
bin/
*.cbp
*.depend
*.layout