<?xml version="1.0" encoding="UTF-8"?>
<!-- sheetTester settings -->
<TrivialEngine>
    <settings>
        <data type="string" name="spritesheet" value="./data/sheet.png"/>
        <data type="string" name="spritesheet_cellwidth" value="40"/>
        <data type="string" name="spritesheet_cellheight" value="40"/>
		<data type="string" name="spritesheet_startFrame" value="0"/>
		<data type="string" name="spritesheet_endFrame" value="8"/>
		<data type="string" name="spritesheet_framerate" value="12"/>
    </settings>
</TrivialEngine>
